<!DOCTYPE html>
<html>
<head>
  <title>Project-1 Sun</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" type="text/css" href="https://st4.depositphotos.com/1842549/20910/i/450/depositphotos_209106072-stock-photo-library-icon.jpg">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "admin_borrow_requests", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <%= render "layouts/header" %>

  <main class="container-fluid mt-3">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <strong><%= message %></strong>
      </div>
    <% end %>

    <%= yield %>
  </main>

  <%= render "layouts/footer" %>

  <script type="text/javascript" src="https://itexpress.vn/API/files/it.snow.js"></script>
</body>
</html>
